
/*
    ../fonts/DejaVu/DejaVuSans.ttf
    ../fonts/DejaVu/DejaVuSans-Bold.ttf
    ../fonts/DejaVu/DejaVuSans-BoldOblique.ttf
    ../fonts/DejaVu/DejaVuSans-ExtraLight.ttf
    ../fonts/DejaVu/DejaVuSans-Oblique.ttf
*/

@font-face {
    font-family: 'DejaVu Sans';
    src: url('../fonts/DejaVu/DejaVuSans.ttf');
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('../fonts/DejaVu/DejaVuSans-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('../fonts/DejaVu/DejaVuSans-BoldOblique.ttf');
    font-weight: bold;
    font-style: oblique;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('../fonts/DejaVu/DejaVuSans-Oblique.ttf');
    font-style: oblique;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('../fonts/DejaVu/DejaVuSans-ExtraLight.ttf');
    font-weight: 200;
}

/*
    ../fonts/DejaVu/DejaVuSansCondensed.ttf
    ../fonts/DejaVu/DejaVuSansCondensed-Bold.ttf
    ../fonts/DejaVu/DejaVuSansCondensed-Oblique.ttf
    ../fonts/DejaVu/DejaVuSansCondensed-BoldOblique.ttf

*/

@font-face {
    font-family: 'DejaVu Sans';
    src:url('../fonts/DejaVu/DejaVuSansCondensed.ttf');
    font-stretch: condensed;
}

@font-face {
    font-family: 'DejaVu Sans';
    src:url('../fonts/DejaVu/DejaVuSansCondensed-Bold.ttf');
    font-stretch: condensed;
    font-weight: bold;
}

@font-face {
    font-family: 'DejaVu Sans';
    src:url('../fonts/DejaVu/DejaVuSansCondensed-Oblique.ttf');
    font-stretch: condensed;
    font-style: oblique;
}

@font-face {
    font-family: 'DejaVu Sans';
    src:url('../fonts/DejaVu/DejaVuSansCondensed-BoldOblique.ttf');
    font-stretch: condensed;
    font-style: oblique;
    font-weight: bold;
}

/*
    ../fonts/DejaVu/DejaVuSansMono.ttf
    ../fonts/DejaVu/DejaVuSansMono-Bold.ttf
    ../fonts/DejaVu/DejaVuSansMono-BoldOblique.ttf
    ../fonts/DejaVu/DejaVuSansMono-Oblique.ttf
*/

@font-face {
    font-family: 'DejaVu Mono';
    src:url('../fonts/DejaVu/DejaVuSansMono.ttf');
}

@font-face {
    font-family: 'DejaVu Mono';
    src:url('../fonts/DejaVu/DejaVuSansMono-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'DejaVu Mono';
    src:url('../fonts/DejaVu/DejaVuSansMono-Oblique.ttf');
    font-style: oblique;
}

@font-face {
    font-family: 'DejaVu Mono';
    src:url('../fonts/DejaVu/DejaVuSansMono-BoldOblique.ttf');
    font-style: oblique;
    font-weight: bold;
}

/*
    ../fonts/DejaVu/DejaVuSerif.ttf
    ../fonts/DejaVu/DejaVuSerif-Bold.ttf
    ../fonts/DejaVu/DejaVuSerif-BoldItalic.ttf
    ../fonts/DejaVu/DejaVuSerif-Italic.ttf
*/

@font-face {
    font-family: 'DejaVu Serif';
    src:url('../fonts/DejaVu/DejaVuSerif.ttf');
}

@font-face {
    font-family: 'DejaVu Serif';
    src:url('../fonts/DejaVu/DejaVuSerif-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'DejaVu Serif';
    src:url('../fonts/DejaVu/DejaVuSerif-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'DejaVu Serif';
    src:url('../fonts/DejaVu/DejaVuSerif-BoldItalic.ttf');
    font-style: oblique;
    font-weight: italic;
}

/*
    ../fonts/DejaVu/DejaVuSerifCondensed-Bold.ttf
    ../fonts/DejaVu/DejaVuSerifCondensed-BoldItalic.ttf
    ../fonts/DejaVu/DejaVuSerifCondensed-Italic.ttf
    ../fonts/DejaVu/DejaVuSerifCondensed.ttf
*/

@font-face {
    font-family: 'DejaVu Serif';
    src:url('../fonts/DejaVu/DejaVuSerifCondensed.ttf');
    font-stretch: condensed;
}

@font-face {
    font-family: 'DejaVu Serif';
    src:url('../fonts/DejaVu/DejaVuSerifCondensed-Bold.ttf');
    font-stretch: condensed;
    font-weight: bold;
}

@font-face {
    font-family: 'DejaVu Serif';
    src:url('../fonts/DejaVu/DejaVuSerifCondensed-Italic.ttf');
    font-stretch: condensed;
    font-style: italic;
}

@font-face {
    font-family: 'DejaVu Serif';
    src:url('../fonts/DejaVu/DejaVuSerifCondensed-BoldItalic.ttf');
    font-stretch: condensed;
    font-style: oblique;
    font-weight: italic;
}


/*
    ../fonts/nixie_one/NixieOne.ttf
*/
@font-face {
    font-family: 'Nixie';
    src:url('../fonts/nixie_one/NixieOne.ttf');
}