@import 'root.scss';

.column-thumbnails {
    width:150px !important;
}


.hentry, .comment{
    // background: rgb(221, 212, 199);
    .check-column{
       vertical-align: middle;
    }
    &:hover{
        .check-column{
           background: rgb(206, 171, 119);
           
        }
    }
}

// .alternate, .striped > tbody > :nth-child(2n+1), ul.striped > :nth-child(2n+1){
//     background: rgb(230, 224, 217);
// }