
// Import colors
// @import '_set_colors.scss';
@import 'root.scss';

// 
body {

    #ThemFrontPage {
       
    }
    
    header {
       
    }
    
    main {
        
    }

    footer {
        
    }

    header, nav, main, footer {
        background-size: cover;
        background-attachment: fixed;
    }

    button, input, textarea {
    
    }

    .navbar {
        z-index: 1000;
    }
    
    .card {
        .card-img-overlay {
            opacity:70%;
            transition: .5s opacity;
            background-color: var(--dark-bg-10);
            overflow-y: hidden;
            &:hover{
                transition: .5s opacity;
                opacity:100%;
                cursor: pointer;
            }
        }
    }

    .widget {
        border-color: var(--lighter-bg);
        border-width: 1px;
        border-style: solid;
        background-color: var(--dark-bg);
    }

    #popupframe{
        background-color: var(--dark-bg-20) !important;
        .popup-window{
            .popup-title{
                background-color: var(--dark-bg);
                h4, div {
                    display:inline-block;
                }
            }
            .popup-content{
                background-color: var(--light-bg);
            }
        }
    }
}
