@charset "UTF-8";
@import 'root.scss';
@import '_set_fonts.scss';


#body {

    &.Nixie {
        font-family: 'Nixie' !important;
    }
    &.DejaVu {
        &.Sans {
            font-family: 'DejaVu Sans' !important;
            &.Condensed { font-stretch: condensed; }
        }
        &.Serif {
            font-family: 'DejaVu Serif' !important;
            &.Condensed { font-stretch: condensed; }
        }
        &.Mono {
            font-family: 'DejaVu Mono' !important;
        }
    }

    font-size:1.25em;
    letter-spacing: .2em;
    font-weight: lighter;

    p {
        text-indent: 2em;
    }

    .navbar {
        font-size:1em;
    }
    .menu-item {
        cursor:pointer;
    }
    .sub-menu{
        .menu-item {
            font-size:1.15em;
            font-weight:lighter;
        }
    }

    footer {
        .footer_title{
            text-align: center;
            text-transform: uppercase;
            letter-spacing:.15em;
        }
    }



}