@charset "UTF-8";
@import 'root.scss';

#wpadminbar {
    display:none;
}

html {
    margin:0 !important;
    background-color: lightgrey;
    
    input, button, textarea {
        font-size:.8em;
        margin:.25em;
        padding:.25em;
    }
    
    p {
        text-indent:1em;
        text-align: justify;
    }

    img, iframe {
        width:inherit;
        height:inherit;
    }

    body {
        background-color: white;
        margin:0px !important;

        nav.always_top {
            position:fixed;
            top:0px;
            width:100%;
        }
        nav.sticky_top {
            position:sticky;
            top:0px;
        }
        // aside {

        // }
        // article {

        // }
    }

    .hidden{
        display:none;
        *{
            display:inherit;
        }
    }

    .hiddenAll{
        display:none;
        *{
            display:none;
        }
    }
    

    .container-fluid {
        margin:auto !important;
        width:100% !important;
    }
    
    .container {
        margin:auto !important;
    }
    
    .card-group{
        .card-img{
            height:100%;
        }
    }

    --widget-color:#ddd;
    --widget-background-color:#444;
    
    
    .widget {
        
        color:var(--widget-color);
        background-color:var(--widget-background-color);
        border-color: var(--widget-border-color);
        border-width: var(--widget-border-width);
        border-style: var(--widget-border-style);
        padding: var(--widget-padding);
        margin: var(--widget-margin);

        .tagcloud {
            .tag-cloud-link{
                font-size:.9em !important; 
                // hack it cause wordpress suck ! Why they put font-size in html code ? grrrr
            }
        }
    }

    #popupframe {
        .popup-window{
            .popup-title{
                h4, div {
                    display:inline-block;
                }
            }
            // .popup-content{
            //     //
            // }
        }
    }
}

