@charset "UTF-8";
@import 'root.scss';


// $padding:.5em;
// $margin:.5em;


@media all {

    div {
        padding:var(--LM);
        margin:var(--LM);
    }
    
    #body {
       
        .container-fluid {
            width:100%;
            margin:0;
            padding:0;
        }
        .container {
            // max-width:inherit !important;
        }
        &.full {
            .container {width:100%;}
        }
        &.large {
           .container {width:83.19%;}
        }
        &.medium {
            .container {width:66.6%;}
        }
        &.thin {
            .container {width:50%;}
        }

        #ThemFrontPage {
            // position:fixed;
            top:0px;
            left:0px;
            margin:0;
            padding:0;
            width:100%;
            height:100%;
            background-size: cover !important;
            
            display:flex;
            align-items: center;
            justify-content: center;
        
            div{
                padding: .5em !important;
                h1 , div, a {
                    position:relative;
                    display:block;
                    margin:.5em;
                }
            }
        }


        #popupframe {
            z-index: 1000;
            position:absolute;
            padding:0;
            margin:0;
            left:0;
            top:0;
            width:100vw;
            height:100vh;
            display: flex;
            align-items: center;
            justify-content: center;

            .popup-window{
                display:block;
                .popup-title{
                    padding:0;
                    margin:0;
                    h4, div {
                        padding:.5em;
                        margin:0;
                    }
                }
                .popup-content{
                    padding:1em;
                    margin:0;
                }
            }
        }
        
        #header{
            background-size: cover;
            &.fixed{
                background-attachment:fixed;
            }
            .header_text_aera{
                padding:2em;
                padding-top:4em;
            }
        }
        
        .navbar {
            padding:0;
            width:100% ;
            top:0px;

            .container{
                padding:0;

                .navbar {
                    width:100% ;
                    padding-left:.5em;
                    padding-right:.5em;
                    #navbarSupportedContent{
                        width:100%;
                        margin:0;
                        padding:0;
                        // display:flex;
                        // justify-content: space-between;
                    }

                    // ul.dropdown-menu{
                    //     margin-left:-.5em; // compensating nav-item left padding 
                    //     position: absolute;
                    //     left:inherit !important;
                    // }
                }

            }
        }
        

        #main{       
            nav.Pagination{
                text-align:center;
                ul{
                    padding:.5em;
                    list-style: none;
                    li{
                        padding:.5em;
                        display:inline-block;
                    }
                }
            }
        
            .floatted{
                margin:.5em;
                padding:.5em;    
            }
        
        }
        
        #footer {
            background-size: cover;
            &.fixed{
                background-attachment:fixed;
            }
    
            .footer_title{
                padding:1em;
            } 
            div {
                ul{
                    padding:0px;
                    li {
                        list-style: none;       
                    }
                }
            }
            .footer_foot{
                padding:1em;
            }
        }
    }
}    




@media all and (max-width:1600px) 
{
   
    #body {
        
        .container-fluid {
            width:100%;
            margin:0;
            padding:0;
        }
         
        &.full {
            .container {width:100%;}
        }
        &.large {
           .container {width:86.7%;}
        }
        &.medium {
            .container {width:63.3%;}
        }
        &.thin {
            .container {width:60%;}
        }

    }
}

@media all and (max-width:1200px) 
{
    #body {
        
        .container-fluid {
            width:100%;
            margin:0;
            padding:0;
        }
         
        &.full {
            .container {width:100%;}
        }
        &.large {
           .container {width:90%;}
        }
        &.medium {
            .container {width:80%;}
        }
        &.thin {
            .container {width:70%;}
        }

    }
}

@media all and (max-width:800px) 
{
    #body {
        
        .container-fluid {
            width:100%;
            margin:0;
            padding:0;
        }
        &.full {
            .container {width:100%;}
        }
        &.large {
           .container {width:95%;}
        }
        &.medium {
            .container {width:90%;}
        }
        &.thin {
            .container {width:85%;}
        }
        
        .navbar {
            .container{
                .navbar {
                    ul.dropdown-menu{
                        margin-left:+.5em; // compensating nav-item left padding 
                        position: relative;
                        left:inherit !important;
                    }
                }

            }
        }
    }
}

@media all and (max-width:600px) 
{
    #body {
        
        .container-fluid {
            width:100%;
            margin:0;
            padding:0;
        }
        &.full,  &.large, &.medium, &.thin {
            .container {width:100%;}
        }

        .navbar {
            .container{
                .navbar {
                    ul.dropdown-menu{
                        margin-left:+.5em; // compensating nav-item left padding 
                        position: relative;
                        left:inherit !important;
                    }
                }

            }
        }
    }
}
