:root{

    font-size:16px;

    --TM: calc(1em/4);
    --LM: calc(1em/2);
    --MD: calc(1em);
    --GM: calc(1em*1.5);
    --GM: calc(1em*2.5);
    
    --color: #333;
    --link-color: #444;
    --link-color-decoration: dotted;
    --background-color: #ddd;

    --widget-color:#ddd;
    --widget-background-color:#444;
    --widget-border-color: none;
    --widget-border-width: none;
    --widget-border-style: none;
    --widget-padding:.5em;
    --widget-margin:.5em;
    
    --navbar-color: #ddd;
    --navbar-background-color: #444;
    // --navbar-border-color: none;
    // --navbar-border-width: none;
    // --navbar-border-style: none;
    --navbar-item-hover-color:.5em;
    --navbar-item-hover-background-color: #444;
    --navbar-item-padding:.5em;
    --navbar-item-margin:.5em;
    
}