html {
  color: #f0f0f0;
  background: #141414; }

#body.dark {
  color: #f0f0f0; }
  #body.dark .container-fluid {
    background: #1e1e1e; }
  #body.dark .container {
    background: #141414; }
  #body.dark input, #body.dark button, #body.dark textarea {
    border: 1px inset #f0f0f0;
    border-radius: .5em;
    color: #f0f0f0;
    background: #141414; }
  #body.dark a {
    color: #d67f7f; }
  #body.dark a:hover {
    color: #c23e3e; }
  #body.dark #ThemFrontPage div {
    background: rgba(0, 0, 0, 0.8);
    color: #f0f0f0; }
    #body.dark #ThemFrontPage div h1 {
      color: #f0f0f0; }
    #body.dark #ThemFrontPage div div {
      background: #0000; }
  #body.dark #header div.container, #body.dark #header div.container-fluid {
    background-color: inherit; }
  #body.dark #navbar {
    background: #141414;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0; }
    #body.dark #navbar div.container .sub-menu {
      background-color: #141414;
      border-bottom: 1px solid #f0f0f0; }
    #body.dark #navbar div.container a {
      color: #f0f0f0;
      text-decoration: none; }
      #body.dark #navbar div.container a:hover {
        background: #3a3a3a; }
  #body.dark .text_area, #body.dark .header_text_aera {
    background: rgba(0, 0, 0, 0.8); }
  #body.dark .htmlCard {
    padding: 0;
    border-radius: .5em;
    background-size: cover;
    background-attachment: fixed;
    transition: .5s all;
    box-shadow: gray 0 0 4px; }
    #body.dark .htmlCard .text_area {
      border-radius: .5em;
      background: rgba(0, 0, 0, 0.6);
      color: #f0f0f0; }
    #body.dark .htmlCard:hover {
      cursor: pointer; }
      #body.dark .htmlCard:hover .text_area {
        background: rgba(0, 0, 0, 0.8);
        transition: .5s all; }
  #body.dark #footer {
    text-align: center; }
    #body.dark #footer .container-fluid:first-child {
      background: #141414;
      border-top: 1px solid #f0f0f0;
      border-bottom: 1px solid #f0f0f0; }
    #body.dark #footer .container-fluid {
      background: rgba(0, 0, 0, 0.8); }
    #body.dark #footer .container-fluid:last-child {
      background: #141414;
      border-top: 1px solid #f0f0f0; }
    #body.dark #footer .footer_title {
      text-transform: uppercase !important;
      letter-spacing: .15em; }

/*# sourceMappingURL=colors-dark.css.map */
