:root {
  font-size: 16px;
  --TM: calc(1em/4);
  --LM: calc(1em/2);
  --MD: calc(1em);
  --GM: calc(1em*1.5);
  --GM: calc(1em*2.5);
  --color: #333;
  --link-color: #444;
  --link-color-decoration: dotted;
  --background-color: #ddd;
  --widget-color:#ddd;
  --widget-background-color:#444;
  --widget-border-color: none;
  --widget-border-width: none;
  --widget-border-style: none;
  --widget-padding:.5em;
  --widget-margin:.5em;
  --navbar-color: #ddd;
  --navbar-background-color: #444;
  --navbar-item-hover-color:.5em;
  --navbar-item-hover-background-color: #444;
  --navbar-item-padding:.5em;
  --navbar-item-margin:.5em; }

body header, body nav, body main, body footer {
  background-size: cover;
  background-attachment: fixed; }
body .navbar {
  z-index: 1000; }
body .card .card-img-overlay {
  opacity: 70%;
  transition: .5s opacity;
  background-color: var(--dark-bg-10);
  overflow-y: hidden; }
  body .card .card-img-overlay:hover {
    transition: .5s opacity;
    opacity: 100%;
    cursor: pointer; }
body .widget {
  border-color: var(--lighter-bg);
  border-width: 1px;
  border-style: solid;
  background-color: var(--dark-bg); }
body #popupframe {
  background-color: var(--dark-bg-20) !important; }
  body #popupframe .popup-window .popup-title {
    background-color: var(--dark-bg); }
    body #popupframe .popup-window .popup-title h4, body #popupframe .popup-window .popup-title div {
      display: inline-block; }
  body #popupframe .popup-window .popup-content {
    background-color: var(--light-bg); }

/*# sourceMappingURL=colors.css.map */
