html {
  color: #0a0a0a;
  background: #f0f0f0; }

#body.white {
  color: #0a0a0a; }
  #body.white .container-fluid {
    background: lightgray; }
  #body.white .container {
    background: #f0f0f0; }
  #body.white input, #body.white button, #body.white textarea {
    border: 1px inset #0a0a0a;
    border-radius: .5em;
    color: #0a0a0a;
    background: #f0f0f0; }
  #body.white a {
    color: #992929; }
  #body.white a:hover {
    color: #791414; }
  #body.white #ThemFrontPage div {
    background: rgba(255, 255, 255, 0.8);
    color: #0a0a0a; }
    #body.white #ThemFrontPage div h1 {
      color: #0a0a0a; }
    #body.white #ThemFrontPage div div {
      background: #0000; }
  #body.white #header div.container, #body.white #header div.container-fluid {
    background-color: inherit; }
  #body.white #navbar {
    background: #f0f0f0;
    border-top: 1px solid #0a0a0a;
    border-bottom: 1px solid #0a0a0a; }
    #body.white #navbar div.container .sub-menu {
      background-color: #f0f0f0;
      border-bottom: 1px solid #0a0a0a; }
    #body.white #navbar div.container a {
      color: #0a0a0a;
      text-decoration: none; }
      #body.white #navbar div.container a:hover {
        background: silver; }
  #body.white .text_area, #body.white .header_text_aera {
    background: rgba(255, 255, 255, 0.8); }
  #body.white .htmlCard {
    padding: 0;
    border-radius: .5em;
    background-size: cover;
    background-attachment: fixed;
    transition: .5s all;
    box-shadow: gray 0 0 4px; }
    #body.white .htmlCard .text_area {
      border-radius: .5em;
      background: rgba(255, 255, 255, 0.6);
      color: #0a0a0a; }
    #body.white .htmlCard:hover {
      cursor: pointer; }
      #body.white .htmlCard:hover .text_area {
        background: rgba(255, 255, 255, 0.8);
        transition: .5s all; }
  #body.white #footer {
    text-align: center; }
    #body.white #footer .container-fluid:first-child {
      background: #f0f0f0;
      border-top: 1px solid #0a0a0a;
      border-bottom: 1px solid #0a0a0a; }
    #body.white #footer .container-fluid {
      background: rgba(255, 255, 255, 0.8); }
    #body.white #footer .container-fluid:first-child {
      background: #f0f0f0;
      border-top: 1px solid #0a0a0a; }
    #body.white #footer .footer_title {
      text-transform: uppercase !important;
      letter-spacing: .15em; }

/*# sourceMappingURL=colors-light.css.map */
