:root {
  font-size: 16px;
  --TM: calc(1em/4);
  --LM: calc(1em/2);
  --MD: calc(1em);
  --GM: calc(1em*1.5);
  --GM: calc(1em*2.5);
  --color: #333;
  --link-color: #444;
  --link-color-decoration: dotted;
  --background-color: #ddd;
  --widget-color:#ddd;
  --widget-background-color:#444;
  --widget-border-color: none;
  --widget-border-width: none;
  --widget-border-style: none;
  --widget-padding:.5em;
  --widget-margin:.5em;
  --navbar-color: #ddd;
  --navbar-background-color: #444;
  --navbar-item-hover-color:.5em;
  --navbar-item-hover-background-color: #444;
  --navbar-item-padding:.5em;
  --navbar-item-margin:.5em; }

#wpadminbar {
  display: none; }

html {
  margin: 0 !important;
  background-color: lightgrey;
  --widget-color:#ddd;
  --widget-background-color:#444; }
  html input, html button, html textarea {
    font-size: .8em;
    margin: .25em;
    padding: .25em; }
  html p {
    text-indent: 1em;
    text-align: justify; }
  html img, html iframe {
    width: inherit;
    height: inherit; }
  html body {
    background-color: white;
    margin: 0px !important; }
    html body nav.always_top {
      position: fixed;
      top: 0px;
      width: 100%; }
    html body nav.sticky_top {
      position: sticky;
      top: 0px; }
  html .hidden {
    display: none; }
    html .hidden * {
      display: inherit; }
  html .hiddenAll {
    display: none; }
    html .hiddenAll * {
      display: none; }
  html .container-fluid {
    margin: auto !important;
    width: 100% !important; }
  html .container {
    margin: auto !important; }
  html .card-group .card-img {
    height: 100%; }
  html .widget {
    color: var(--widget-color);
    background-color: var(--widget-background-color);
    border-color: var(--widget-border-color);
    border-width: var(--widget-border-width);
    border-style: var(--widget-border-style);
    padding: var(--widget-padding);
    margin: var(--widget-margin); }
    html .widget .tagcloud .tag-cloud-link {
      font-size: .9em !important; }
  html #popupframe .popup-window .popup-title h4, html #popupframe .popup-window .popup-title div {
    display: inline-block; }

/*# sourceMappingURL=main.css.map */
