:root {
  font-size: 16px;
  --TM: calc(1em/4);
  --LM: calc(1em/2);
  --MD: calc(1em);
  --GM: calc(1em*1.5);
  --GM: calc(1em*2.5);
  --color: #333;
  --link-color: #444;
  --link-color-decoration: dotted;
  --background-color: #ddd;
  --widget-color:#ddd;
  --widget-background-color:#444;
  --widget-border-color: none;
  --widget-border-width: none;
  --widget-border-style: none;
  --widget-padding:.5em;
  --widget-margin:.5em;
  --navbar-color: #ddd;
  --navbar-background-color: #444;
  --navbar-item-hover-color:.5em;
  --navbar-item-hover-background-color: #444;
  --navbar-item-padding:.5em;
  --navbar-item-margin:.5em; }

@media all {
  div {
    padding: var(--LM);
    margin: var(--LM); }

  #body .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0; }
  #body.full .container {
    width: 100%; }
  #body.large .container {
    width: 83.19%; }
  #body.medium .container {
    width: 66.6%; }
  #body.thin .container {
    width: 50%; }
  #body #ThemFrontPage {
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center; }
    #body #ThemFrontPage div {
      padding: .5em !important; }
      #body #ThemFrontPage div h1, #body #ThemFrontPage div div, #body #ThemFrontPage div a {
        position: relative;
        display: block;
        margin: .5em; }
  #body #popupframe {
    z-index: 1000;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; }
    #body #popupframe .popup-window {
      display: block; }
      #body #popupframe .popup-window .popup-title {
        padding: 0;
        margin: 0; }
        #body #popupframe .popup-window .popup-title h4, #body #popupframe .popup-window .popup-title div {
          padding: .5em;
          margin: 0; }
      #body #popupframe .popup-window .popup-content {
        padding: 1em;
        margin: 0; }
  #body #header {
    background-size: cover; }
    #body #header.fixed {
      background-attachment: fixed; }
    #body #header .header_text_aera {
      padding: 2em;
      padding-top: 4em; }
  #body .navbar {
    padding: 0;
    width: 100%;
    top: 0px; }
    #body .navbar .container {
      padding: 0; }
      #body .navbar .container .navbar {
        width: 100%;
        padding-left: .5em;
        padding-right: .5em; }
        #body .navbar .container .navbar #navbarSupportedContent {
          width: 100%;
          margin: 0;
          padding: 0; }
  #body #main nav.Pagination {
    text-align: center; }
    #body #main nav.Pagination ul {
      padding: .5em;
      list-style: none; }
      #body #main nav.Pagination ul li {
        padding: .5em;
        display: inline-block; }
  #body #main .floatted {
    margin: .5em;
    padding: .5em; }
  #body #footer {
    background-size: cover; }
    #body #footer.fixed {
      background-attachment: fixed; }
    #body #footer .footer_title {
      padding: 1em; }
    #body #footer div ul {
      padding: 0px; }
      #body #footer div ul li {
        list-style: none; }
    #body #footer .footer_foot {
      padding: 1em; } }
@media all and (max-width: 1600px) {
  #body .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0; }
  #body.full .container {
    width: 100%; }
  #body.large .container {
    width: 86.7%; }
  #body.medium .container {
    width: 63.3%; }
  #body.thin .container {
    width: 60%; } }
@media all and (max-width: 1200px) {
  #body .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0; }
  #body.full .container {
    width: 100%; }
  #body.large .container {
    width: 90%; }
  #body.medium .container {
    width: 80%; }
  #body.thin .container {
    width: 70%; } }
@media all and (max-width: 800px) {
  #body .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0; }
  #body.full .container {
    width: 100%; }
  #body.large .container {
    width: 95%; }
  #body.medium .container {
    width: 90%; }
  #body.thin .container {
    width: 85%; }
  #body .navbar .container .navbar ul.dropdown-menu {
    margin-left: +.5em;
    position: relative;
    left: inherit !important; } }
@media all and (max-width: 600px) {
  #body .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0; }
  #body.full .container, #body.large .container, #body.medium .container, #body.thin .container {
    width: 100%; }
  #body .navbar .container .navbar ul.dropdown-menu {
    margin-left: +.5em;
    position: relative;
    left: inherit !important; } }

/*# sourceMappingURL=responsive.css.map */
