div {
  padding: calc(1em/2);
  margin: calc(1em/2); }

#body .container-fluid {
  width: 100%;
  margin: 0;
  padding: 0; }
#body .container {
  width: 80%;
  padding: calc(1em); }
#body #ThemFrontPage {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  display: flex;
  justify-content: center; }
  #body #ThemFrontPage div {
    padding: 2em; }
    #body #ThemFrontPage div h1, #body #ThemFrontPage div div, #body #ThemFrontPage div a {
      position: relative;
      display: block;
      margin: .5em; }
#body #header {
  background-size: cover !important;
  background-attachment: fixed !important; }
  #body #header .header_text_aera {
    padding: 2em;
    padding-top: 4em; }
#body #navbar {
  position: sticky;
  top: 0px;
  margin: 0px; }
  #body #navbar .container {
    margin: 0;
    padding: 0; }
  #body #navbar .nav-elemnt {
    padding: 0;
    margin: 0; }
  #body #navbar .menu {
    display: inline-block;
    padding-left: 0px;
    margin: 0px;
    /*
        Affichage
    */ }
    #body #navbar .menu .nav-item .sub-menu {
      width: 100%;
      position: absolute;
      left: 0px;
      padding-left: 0px;
      display: none; }
    #body #navbar .menu .nav-item:hover .sub-menu {
      display: block; }
      #body #navbar .menu .nav-item:hover .sub-menu li, #body #navbar .menu .nav-item:hover .sub-menu a {
        display: inline-block; }
    #body #navbar .menu .nav-item {
      margin: 0;
      padding: 0;
      display: inline-block; }
      #body #navbar .menu .nav-item a.nav-link {
        display: block;
        padding: 1em !important; }
#body #main nav.Pagination {
  text-align: center; }
  #body #main nav.Pagination ul {
    padding: .5em;
    list-style: none; }
    #body #main nav.Pagination ul li {
      padding: .5em;
      display: inline-block; }
#body #main .floatted {
  margin: .5em;
  padding: .5em; }
#body #footer {
  background-size: cover !important;
  background-attachment: fixed !important; }
  #body #footer .footer_title {
    padding: 1em; }
  #body #footer div ul {
    padding: 0px; }
    #body #footer div ul li {
      list-style: none; }
  #body #footer .footer_foot {
    padding: 1em; }

/*# sourceMappingURL=screens.css.map */
